In [1]:
# Import dependencies 
import pandas as pd 
from pathlib import Path
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import numpy as np
import datetime
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
from sqlalchemy import create_engine, func

In [2]:
from config import db_password

In [3]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5433/postgres"
engine = create_engine(db_string)

In [4]:
covid_df = pd.read_sql_table('complete_2020', engine)

In [5]:
# Check data types
covid_df.dtypes

zipcode                         object
mar2020                          int64
apr2020                          int64
may2020                          int64
jun2020                          int64
jul2020                          int64
aug2020                          int64
sep2020                          int64
oct2020                          int64
nov2020                          int64
dec2020                          int64
incident_number                float64
offense_description             object
family_violence                 object
date                    datetime64[ns]
location_type                   object
category_description            object
dtype: object

In [4]:
covid_df["rates"] = covid_df["Mar20"] + covid_df["Apr20"] + covid_df["May20"] + covid_df["Jun20"] + covid_df["Jul20"] + covid_df["Aug20"] + covid_df["Sep20"] + covid_df["Oct20"] + covid_df["Nov20"] + covid_df["Dec20"]

In [5]:
covid_df.head()

,zipcode,Mar20,Apr20,May20,Jun20,Jul20,Aug20,Sep20,Oct20,Nov20,Dec20,incident_number,offense_description,family_violence,date,location_type,category_description,rates
0,78704,62,1523,3098,5391,17394,24714,25147,30246,36122,51696,2.020500e+10,ROBBERY BY ASSAULT,N,1/1/20,STREETS / HWY / ROAD / ALLEY,Robbery,195393
1,78756,12,106,190,392,1742,2529,2465,3161,4016,5891,2.020500e+10,THEFT FROM BUILDING,N,1/1/20,RESIDENCE / HOME,Theft,20504
2,78759,34,446,649,1413,7266,12513,12781,15712,18367,25876,2.020500e+10,THEFT,N,1/1/20,RESIDENCE / HOME,Theft,95057
3,78723,19,576,2009,4303,14693,21775,21202,25520,28927,36150,2.020213e+08,AUTO THEFT,N,1/1/20,PARKING LOTS / GARAGE,Auto Theft,155174
4,78759,34,446,649,1413,7266,12513,12781,15712,18367,25876,2.020313e+08,BURGLARY OF RESIDENCE,N,1/1/20,RESIDENCE / HOME,Burglary,95057

In [6]:
# Check data types
covid_df.dtypes

zipcode                   int64
Mar20                     int64
Apr20                     int64
May20                     int64
Jun20                     int64
Jul20                     int64
Aug20                     int64
Sep20                     int64
Oct20                     int64
Nov20                     int64
Dec20                     int64
incident_number         float64
offense_description      object
family_violence          object
date                     object
location_type            object
category_description     object
rates                     int64
dtype: object

In [7]:
#Drop columns
covid_df = covid_df.drop(columns=['Mar20', 'Apr20', 'May20', 'Jun20', 'Jul20', 'Aug20', 'Sep20', 'Oct20','Nov20', 'Dec20'], axis=1)

In [8]:
covid_df = covid_df.drop(columns=['offense_description', 'family_violence', 'date', 'location_type', 'category_description'])

In [9]:
covid_df.dropna()

       zipcode  incident_number   rates
0        78704     2.020500e+10  195393
1        78756     2.020500e+10   20504
2        78759     2.020500e+10   95057
3        78723     2.020213e+08  155174
4        78759     2.020313e+08   95057
...        ...              ...     ...
40131    78759     2.021207e+08   95057
40132    78701     2.020366e+10   56747
40133    78758     2.020366e+10  306412
40134    78759     2.020505e+10   95057
40135    78753     2.020505e+10  366997

[40136 rows x 3 columns]

In [10]:
covid_df = covid_df[np.isfinite(covid_df).all(1)]

In [11]:
covid_df = covid_df.reset_index()

In [12]:
# Set x and y
X = covid_df[['rates', 'zipcode']]
y = covid_df[['incident_number']]

In [13]:
# Split into train and test sets, with 70, 30 split
X_train, X_test, y_train, y_test = train_test_split (X,y, random_state = 75, train_size=0.70)

In [14]:
# Print shapes
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(28095, 2)
(12041, 2)
(28095, 1)
(12041, 1)

In [15]:
# Create model
postcovid_model = LinearRegression()

In [16]:
# Fit model
postcovid_model.fit(X,y)

LinearRegression()

In [17]:
# Predict the model
pred = postcovid_model.predict(X_test)
print(pred.shape)

(12041, 1)

In [18]:
# Print model parameters
print(postcovid_model.coef_)
print(postcovid_model.intercept_)

[[-1.52650278e+03  3.56357879e+06]]
[-2.62176636e+11]

In [19]:
r_squared = r2_score(y_test, pred)
print(r_squared)

0.0012409761016526355